/*Following more customization/Urmeaza si alte stilizari*/
* {
  box-sizing: border-box;
}

.body {
  line-height: 1.6;
  margin-left:165px;
  margin-right:20px;
  margin-top:40px;
  border: 1px solid #A7D7F9;
  border-style:solid none solid solid;
  padding-left:20px;
  padding-bottom:20px;
  font-family:sans-serif; 
  font-size:14px;
}

.table1{
  display:inline;
  text-align:left;
  line-height:1.2rem; 
  border: 1px solid #A2A9B1;
  background-color:#F8F9FA;
  width:auto;
  padding:5px;
  float:right;
  margin: 0px 0px 020px 20px;
}

.intro{
  display:block;
  margin-right:300px;
  padding-bottom:10px;
}

.story{
  
}

.demopic{
  display:block;
  width:192px;
  background-color:#F8F9FA;
  border:solid 1px grey;
  padding:5px;
  float:left;
  margin: 0px 20px 10px 0px;
  }

.gameplay{
    
}

.gmenu{
  width:auto;


}

}
h1{  
margin-bottom:10px;
}


}
.header{
  margin-right:20px;
  
}
.tablinks {
    background-color: #ffffff;
    border: 1px solid #A7D7F9;
    border-style:none none none none;
    color: black;
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

.ol {
padding-left:0px;
}

caption {
  text-align:left;
  border: 1px solid #A2A9B1;
  background-color:aliceblue;
  width:160px;
  line-height:1.5rem;  
}
a{
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer
}

h2,h3 { display: inline-block;
  font-family:times new roman;
  margin:0px 0px 0px 0px;
}

span
{ margin-left: 20px; }

table.table2 td {
  padding-right:5px;
  padding-left:5px;
  border-right: solid 1px #A2A9B1;
  display:inline-block;
  width:99,9%;
}

table.table3 td {
  padding-right:5px;
  padding-left:5px;
  border-right: solid 0px;
  display:inline-block;
  width:99,9%;
}

.table2 {
  border: 1px solid #A2A9B1;
  padding:5px 0px 5px 0px;
  background-color:#F8F9FA;
}

.footer{
  font-size:0.8rem;
  padding-left:340px;
}

@media only screen and (max-width: 600px) {
    
  .body {
      margin-left:0px;
      margin-right:0px;
      margin-top:0px;
  }
    .intro{
      display:inline;
      
    }
      
    }
  .footer{
    margin-left:-170px;
  }
}
